<div class="AboutChefVine">
	<h1>We are a non-profit organization managed by one person. Let's check out the team!</h1>
	<a href="#" class="aboutThumbnail">
		<img src="resources/images/IMG_2404.jpg" alt = "mePic">
	</a>
	<p>Ugine</p>
</div>