
    	<%- contentFor('body') %>
    	<div class="welcome">
    		<h1>This is my random Website. Welcome to chefVine!</h1>
    	</div>
    	<div class="container">
    		<ul class="img-matrix">
	    		<li class="italian">
	    			<h1 class="header">Italian</h1>
		    		<ul id="italian-matrix">
		    			<li class="img" id="img1">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Italian/clamPasta.jpg" alt = "Clam Pasta">
		    				</a>
		    			</li>
		    			<li class="img" id="img2">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Italian/shrimpFetchni.jpg" alt = "Shrimp Fetuchini">
		    				</a>
		    			</li>
		    			<li class="img" id="img3">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Italian/stuffPeppers.jpg" alt = "Beef stuffed Peppers">
		    				</a>
		    			</li>
		    			<li class="img" id="img4">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Italian/pizza1.jpg" alt = "Pizza Margharita">
		    				</a>
		    			</li>
		    		</ul>
		    	</li>
		    	<li class="French">
		    		<h1 class="header" onlick="openImgMatrix()">French</h1>
		    		<ul id="French-matrix">
		    			<li class="img" id="img1">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/French/beefStew.jpg" alt = "Beef Stew">
		    				</a>
		    			</li>
		    			<li class="img" id="img2">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/French/frenchOnion.jpg" alt = "French Onion">
		    				</a>
		    			</li>
		    			<li class="img" id="img3">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/French/notFrenchToast.jpg" alt = "French Toast">
		    				</a>
		    			</li>
		    			<li class="img" id="img4">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/French/stuffChicken.jpg" alt = "?">
		    				</a>
		    			</li>
		    		</ul>
		    	</li>
		    	<li class="American">
		    		<h1 class="header" onlick="openImgMatrix()">American</h1>
		    		<ul id="American-matrix">
		    			<li class="img" id="img1">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/American/BBQplatter.jpg" alt = "BBQ Platter">
		    				</a>
		    			</li>
		    			<li class="img" id="img2">
		    				<a href="resources/images/American/Wings!.jpg" class="thumbnail">
		    					<img src="resources/images/American/Wings!.jpg" alt = "Chille Wings">
		    				</a>
		    			</li>
		    			<li class="img" id="img3">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/American/Ribs!.jpg" alt = "Spare Ribs?">
		    				</a>
		    			</li>
		    			<li class="img" id="img4">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/American/cheeseBurgers.jpg" alt = "Yummy greasy Cheese burgers">
		    				</a>
		    			</li>
		    		</ul>
		    	</li>
		    	<li class="Taiwanese">
		    		<h1 class="header" onlick="openImgMatrix()">Taiwanese</h1>
		    		<ul id="Taiwanese-matrix">
		    			<li class="img" id="img1">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Taiwanese/beefNoodle.jpg" alt = "Beef Noodle Recipe">
		    				</a>
		    			</li>
		    			<li class="img" id="img2">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Taiwanese/crispyChx.jpg" alt = "Cripsy Chicken Recipe">
		    				</a>
		    			</li>
		    			<li class="img" id="img3">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Taiwanese/porkRice.jpg" alt = "Rice with Pork">
		    				</a>
		    			</li>
		    			<li class="img" id="img4">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Taiwanese/prawnRolls.jpg" alt = "prawn rolls">
		    				</a>
		    			</li>
		    			<li class="img" id="img5">
		    				<a href="#" class="thumbnail">
		    					<img src="resources/images/Taiwanese/scallionNoodles.jpg" alt = "Scallion Noodles">
		    				</a>
		    			</li>

		    		</ul>
		    	</li>
	    	</ul>
    	</div>