<!DOCTYPE html>
<html>
    <head>
    	<title>ChefVine</title>

    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" href="resources/css/style.css">
    </head>
    <body>
    	<header>
    		<nav class="navbar navbar-light">
                <ul class ="navbar-nav">
    			<a href="/" class="navbar-brand">ChefVine Home</a>
    			<ul class ="navbar-nav"> 
    				<li><a href="/about">About Us</a></li>
    				<li><a href="/signIn">Login</a></li>
    				<li><a href="#">Contact Us</a></li>
    			</ul>
    		</nav>
    	</header>
        <main>
            <%- defineContent('body') %>
        </main>
        

        <footer>CopyRight &copy; Eugene Temlock 2017 </footer>
        <!-- Mongo URI: mongodb+srv://etemlock:Rice-fort94@chefvine1-uyxxy.mongodb.net/test -->

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="app/main.js"></script>
        <script src="app/controller.js"></script>
    </body>
</html>