<%- contentFor('body') %>

<div class="profileHeader">
	<div class="profilePic">
		<img src="resources/images/defaultProfilePic.jpg" alt = "User Pic">
		<button type="uploadButton">Upload +</button>
	</div>
	<h1><%- name %></h1>
	<p1>Member Id: <%- memberId %></p1>
	<h2>Member since <%- memberDate %></h2>
</div>
